body,html{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background: rgba(47,47,47,0.98);
  font-family: 'Nunito', sans-serif;
  /* font-family: 'Clicker Script', cursive;
  font-family: 'Source Serif Pro', serif;
  font-family: 'Sansita', sans-serif; */
}

.contenedor-global{
    width: 90%;
    margin: 2% auto;
    overflow: hidden;
    background: #f4f1e4;
    max-width: 1300px;
}
.img-portada{
 width: 100%;
}
.navbar-toggle{
    padding: 0px;
    border-width:0;
}
.container-barra{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 24px;
}
.navbar-default  {
    border-color: #83c1b7;
    background-color: #83c1b7;
 }
.navbar-default .navbar-nav > li > a {
    color:  #ffffff;
    font-family: 'Sansita', sans-serif;
    padding: 27px;
}
.navbar-header{
    height: 85px;
}
.seccion2{
  background: #ffffff;
  margin-top: 80px;
  margin-left: 14%;
  border: 1px solid #f7ccc3;
  width: 70%;
  min-height: 800px; 
  border-bottom: #fa9c98 3px solid;
}
.populares{
  font-size: 21px;
  color: #f08a85;
  margin-top: 30px;
  margin-left: 5px;
}
.hr-rosada{
  background-color: #fdeceb;
  height: 1px;
  width: 94%;
}
.box1{
    background-image: url('../img/imgb1.jpg');
    border: 2px solid #f5c1b6;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
}

.box2{
 background-image: url('../img/imgb2.jpg');
    border: 2px solid #f5c1b6;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.box3{
  background-image: url('../img/imgb3.jpg');
    border: 2px solid #f5c1b6;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.texto-titulo-s2{
  font-size: 17px;
  color: #ee928d;
}
.texto-s2{
  font-size: 14px;
  color: #878787;
}
.box7{
  background-image: url('../img/imgb7.jpg');
    border: 2px solid #f5c1b6;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.box8{
  background-image: url('../img/imgb8.jpg');
    border: 2px solid #f5c1b6;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.box9{
  background-image: url('../img/imgb9.jpg');
    border: 2px solid #f5c1b6;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.seccion3{
  margin-top: 30px;
  margin-left: 15%;
  font-size: 17px;
  width: 70%;
  height: 180px;
  color: #777674;
  margin-bottom: 40px;
}
.form-control-pink{
  margin-left: 3%;
  color: #6e6d6b;
  border-radius: 0px;
  border: 2px solid #fa9d9a;
  height: 44px;
  padding: 8px 12px;
}
.seccion4{
  padding-left: 14%;
  font-size: 17px;
  width: 100%;
  min-height: 250px;
  background: #7dc0b4;
 
}
.ubicacion{
  margin-top: 10px;
  color: #ffffff;
  font-size: 17px;
}
.hr-ubicacion{
  background-color: #d1e4e0;
  height: 1px;
  width: 900px;
  margin-top: 0px;
}
.local1{
   background-position: right;
  width: 200px;
  height: 150px;
  background-position: center center;
    background-repeat: no-repeat;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 10px;
  
}
.texto-local-titulo{
  color: #ffffff;
  font-size: 16px;
}

.texto-local{
  color: #e4ecea;
  font-size: 16px;
}
.local2{
  background-position: left;
  width: 200px;
  height: 150px;
  background-position: center center;
    background-repeat: no-repeat;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.twitter{
  background-image: url('../img/twitter1.png');
  background-position: center center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
}
.pinterest{
  background-image: url("../img/pinterest.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
}
.facebook{
  background-image: url("../img/facebook.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
}
.googleplus{
  background-image: url("../img/googleplus.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
}
.correo{
  background-image: url("../img/correo.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
}
.seccion5{
  padding-left: 14%;
  margin-top: 1%;
  height: 50px;
}
.parrafos-final{
  color: #7a7a77;
}

